#Error-Message, #Success-Message{
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    padding: 10px 30px;
    border-radius: 4px;
    position: fixed;
    bottom: 50px;
    left: 50%;
    max-width: 90%;
    transform: translateX(-50%);
    z-index: 120;
    opacity: 0;
    pointer-events: none;
    transition: all 0.8s cubic-bezier(0.81, 1.39, 0.62, 1.04);
}

#Error-Message.Active, #Success-Message.Active{
    z-index: 120;
    opacity: 1;
    pointer-events: auto;
}

#Error-Message i, #Success-Message i{
    margin-right: 10px;
    font-size: 20px;
}

#Error-Message p, #Success-Message p{
    font-weight: 300;
}

#Success-Message{
    background: #adffad;
    color: #2aa82a;
}


#Error-Message{
    background: #ffaaaa;
    color: #d42a2a;
}